*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
background-image: url(./imagens/background.jpg);
background-repeat: no-repeat;
background-attachment: scroll;
background-size: cover;
background-position: center;

}
nav{
text-align:center;
font-size: 25px;
background-color: rgba(0, 0, 0, 0.644);
width: 45%;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
margin-top: 60px;
padding: 2px;
display: block;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 0px;
    
}
nav :hover {
        margin: 0px;
        padding: 0px;
        border-radius: 5px;
        background-color: #fcfcfc;
        border: 2px solid rgba(173, 173, 173, 0.11);
        color: rgb(65, 4, 56);
}
.logoprincipal{
margin-top: 20px;
width: 300px;
background-color: rgba(247, 247, 247, 0.205);
border-radius: 25px;
display: block;
margin-left: auto;
margin-right: auto;

}
.descricao_cidade{
    font-size: 11px;
    margin-top: 20px;
    padding: 20px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.562);
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;

    font-weight: 200
}
.conteudo_youtube{
    margin-top: 60px;
}
.conteudo{
margin-top: 20px;
margin-left: auto;
display: block;
margin-right: auto;

}
.descricao_video{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-size: 15px;
    width: 30%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(66, 66, 66);
    background-color: blanchedalmond;
    text-transform: uppercase;
    border-radius: 30px;
}
.text{
    text-align: center;
    font-weight: bold;
}

.imagens{
    position: relative;
    width: 670px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s; 
    
}

.imagens .msg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    border-radius: 20px;
    overflow: hidden;
}
.imagens .msg::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f7eda;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.imagens:hover .msg:before{
    background: #032d63;
    clip-path: circle(400px at center);
   
}
.imagens img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    pointer-events: none;
}

.imagens:hover img{
    left: 72%;
    height: 500px;

}
.imagens .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.imagens:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;

}
.imagens .content h2{

    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;    
    margin-bottom: 5px;
}
.imagens .content p{
    color: #fff;
    
}
.imagens .content a{
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 10px;
    display: inline-block;
    text-decoration:none;
    font-weight: 700;
}

@media  (max-width:910px)
{
 .imagens{
     width: auto;
     max-width: 350px;
     align-items: flex-start;
     margin: 10px;
 }
 .imagens:hover{
     height: 600px;
 }
 .imagens.content{
     width: 100%;
     left: 20%;
     padding: 30px;   
 }
 .imagens:hover img {
     top: 70%;
     left: 50%;
     height: 300px;
 }
 
}
.descricao_banner{
    text-align: center;
    background-color: rgba(37, 6, 95, 0.397);
    color: azure;
    margin-top: 20px;
    font-size: 25px;
    text-transform: uppercase;
}

.final{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #0a0061;    
    color: white;
    font-family:'Estonia', cursive;;
}

.redes_sociais{
    background: rgb(117,0,162);
    background: linear-gradient(0deg, rgba(117,0,162,1) 0%, rgba(124,0,255,1) 100%);
    display: inline-block;
    margin-left: 550px;
    margin-right: auto;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;

}

.instagram{
    height: 60px;
    width: 60px;    
    color: white;

}
.instagram:hover{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    background: rgb(189, 90, 90);
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border: 2px solid rgba(173, 173, 173, 0.11);
    color: rgb(255, 255, 255);
}
.facebook{
    height: 60px;
    width: 60px;   
    color: rgb(255, 255, 255); 

}
.facebook:hover{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    background: rgb(8,13,149);
    background: linear-gradient(0deg, rgba(8,13,149,1) 0%, rgba(104,135,255,1) 100%);
    border: 2px solid rgba(173, 173, 173, 0.11);
    color: rgb(255, 255, 255);
}
.twitter{
    height: 60px;
    width: 60px;    
    color: white;
}
.twitter:hover{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    background: rgb(0,41,162);
    background: linear-gradient(0deg, rgba(0,41,162,1) 0%, rgba(0,206,255,1) 100%);
    border: 2px solid rgba(173, 173, 173, 0.11);
    color: rgb(255, 255, 255);
}